
body {
	margin: 0px;
	padding: 0px;
	font-family: Lucida Sans Unicode, Arial, Helvetica,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #2f2f2f;
	background: #ffffff;
}

img {
	border: 0px;
}

a, .translate {
	color: #7598A2;
	text-decoration: none;
}

a:hover {
	color: #7598A2;
	text-decoration: underline;
}

#wrap {
	float: left;
}

#inner {
	background: #ffffff;
	margin-left: 260px;
}

#header {
	height: 38px;
	background: url(../images/header.jpg) repeat-x;
	background-color: #457987;
	padding: 5px 8px;
}

#header h1 {
	float: left;
	padding: 0px;
	margin: 26px 0px 0px;
}

#header h1 a {
	float: left;
	font-family: Lucida Sans Unicode,Arial,Helvetica,sans-serif;
	font-size: 28px;
	line-height: 17px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}

#header h2 {
	float: left;
	padding: 0px;
	margin: 9px 0px;
	font-size: 13px;
	font-family: Lucida Sans Unicode,Arial,Helvetica,sans-serif;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	line-height: 17px;
	clear: both;
}

#header h2 a {
	color: #ffffff;
}

#menu {
	height: 31px;
	background: url(../images/menu-bg.gif) repeat-x;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#menu li {
	float: left;
}

#menu li a {
	float: left;
	outline: none;
	text-decoration: none;
	height: 31px;
	line-height: 30px;
	color: #2f2f2f;
	padding: 0px 20px;
}

#menu li:hover, #menu li.active {
	background: url(../images/menu-hover.gif) repeat-x;
}

#menu li.special a {
	color: #0366C3;
	font-weight: bold;
}

#submenu {
	height: 32px;
	background: url(../images/submenu-bg.png) repeat-x;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#submenu li {
	float: left;
}

#submenu li a {
	float: left;
	outline: none;
	text-decoration: none;
	height: 32px;
	line-height: 30px;
	color: #4f4f4f;
	padding: 0px 20px;
}

#submenu li.active:hover, #submenu li:hover, #submenu li.active {
	background: #ffffff;
	border: 1px solid #f6f6f6;
	border-top: 0px;
	border-bottom: 0px;
	height: 32px;
}

#submenu li:hover {
	background: #ffffff;
	height: 31px;
}

#submenu li:hover a, #submenu li.active a {
	padding: 0px 19px;
}

#submenu li.special a {
	color: #0366C3;
	font-weight: bold;
}

#right {
	float: left;
	width: 229px;
	background: #F3F3F3;
	padding: 20px 15px 30px;
	border-right: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	position: absolute;
}

#right a {
	font-size: 12px;
	color: #444444;
	font-weight: normal;
	text-decoration: none;
}

#right a:hover {
	color: #376471;
}

#right ul.recent {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	list-style: none;
}

#right ul.recent li {
	background: url(../images/li1.gif) no-repeat 0px 3px;
	padding-left: 13px;
	margin-left: 4px;
}

#right ul.recent li.active a {
	font-weight: bold;
}

#right ul.recent li:first-child {
	font-family: Trebuchet MS;
	font-size: 12px;
	color: #376471;
	font-weight: bold;
	border-bottom: 1px solid #7B9BA5;
	padding: 0px 0px 5px 10px;
	margin-bottom: 5px;
	margin-left: 0px;
	background: transparent;
}

#right ul.recent li:first-child a {
	font-family: Trebuchet MS;
	font-size: 12px;
	color: #376471;
	font-weight: bold;
}

#content {
	padding: 20px 20px 30px;
}

#content h1 {
	margin: 20px 0px;
	padding: 0px;
	font-size: 22px;
	line-height: 18px;
	font-weight: normal;
}

#content h1.title {
	margin: 0px 0px 22px;
}

#content p {
	margin: 15px 0px 0px;
	padding: 0px;
}

#content p img.left {
	float: left;
	margin-right: 18px;
	margin-bottom: 0px;
	position: relative;
	top: 5px;
}

#content pre {
	display: block;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 2px dotted #c7c7c7;
}

.green {
	color: #008000;
}

.gray {
	color: #878787;
}

.star {
	font-family: Tahoma;
	color: red;
}

.code {
	font-family: Courier;
}

.clear {
	clear: both;
}

.table {
	
}

.table th {
	font-weight: bold;
	padding: 4px 10px 6px;
	border: 1px dotted #bfbfbf;
	border-right: 0px;
	background: #efefef;
	text-align: left;
}

.table th.last {
	border: 0px;
	border-right: 1px dotted #bfbfbf;
	width: 0px;
	padding: 0px;
	background: #ffffff;
}

.table td.row {
	padding: 3px 10px 5px;
	border: 1px dotted #bfbfbf;
	border-top: 0px;
	border-right: 0px;
	max-width: 450px;
}

.table td.row.body {
	padding: 0px;
	padding-right: 8px;
}

.table td.row.body a {
	float: left;
	width: 100%;
	text-decoration: none;
	padding: 4px 2px 6px 10px;
}

.table td.row.input {
	padding: 0px;
	padding-left: 10px;
}

.table td.row.input input {
	width: 44px;
	border: 1px solid #e7e7e7;
	height: 16px;
	padding-left: 3px;
	padding-right: 3px;
	position: relative;
	top: -1px;
	color: #7598A2;
}

.table td.row.input input:focus, .table td.row.input input:hover {
	border: 1px solid #bfbfbf;
}

.table td.row img {
	position: relative;
	top: 3px;
}

.table td.row-submit {
	padding-top: 10px;
	text-align: right;
}

.table td.row-submit:hover {
	background: #ffffff;
}

.table td.last {
	border-right: 1px dotted #bfbfbf;
	width: 0px;
	padding: 0px;
	background: #ffffff;
}

.table .navigation {
	background: #ffffff;
	padding: 6px;
	border: 1px dotted #bfbfbf;
	border-bottom: 0px;
}

.table .empty a {
	color: #bfbfbf;
}

.table .Yes a {
	font-weight: bold;
	color: green;
}

.table .No a {
	color: #BFBFBF;
}

.table .not-found {
	background: #ffffff;
	padding: 10px;
	border: 1px dotted #bfbfbf;
	border-top: 0px;
	text-align: center;
	font-weight: bold;
	color: #8f8f8f;
}

.table .input {
	width: 40px;
	height: 18px;
	padding: 1px 3px;
}

.table .inactive {
	color: #c7c7c7;
}

.table tr:hover {
	background: #F3F3F3;
}

.table .translate img {

}

.form th {
	text-align: right;
	padding: 9px 10px 5px 0px;
	border: 1px dotted #bfbfbf;
	border-top: 0px;
	border-left: 0px;
	min-width: 140px;
	vertical-align: top;
	font-weight: normal;
}

.form th.last {
	border: 0px;
	border-right: 1px dotted #bfbfbf;
}

.form td {
	padding: 6px 0px 8px 10px; 
	border-bottom: 1px dotted #bfbfbf;
	min-width: 588px;
}

.cke_editor td {
	padding: 0px;
	border: 0px;
}

.form td.last {
	padding: 14px 0px 8px 10px;
	min-width: 150px;
	border-bottom: 0px;
}

.form .input-text {
	width: 450px;
	height: 18px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
}

.form .input-select {
	width: 50px;
	position: relative;
	top: 1px;
}

.form  .note {
	font-size: 11px;
	color: #7f7f7f;
	margin-top: 5px;
	margin-bottom: 2px;
}

.form .note b {
	font-size: 11px;
	color: #3f3f3f;
	font-weight:bold;
}

.edit-message {
	color: green;
	margin-bottom: 20px;
}

.error {
	border: 2px solid red;
}

.errors {
	padding: 0px;
	padding-left: 1em;
	margin: 0px;
	margin-bottom: 20px;
}

.errors li {
	color: red;
}

.translation {
	float: left;
	height: 30px;
	background: url(../images/menu-bg.gif) repeat-x;
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

.translation li {
	float: left;
}

.translation li a {
	float: left;
	outline: none;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
	color: #2f2f2f;
	padding: 0px 16px;
	padding-left: 42px;
	background-repeat: no-repeat;
	background-position: 18px 9px;
}

.translation li:hover, .translation li.active {
	background: url(../images/menu-hover.gif) repeat-x;
}

#submenu li.disabled:hover {
	background: transparent;
	border: 1px solid transparent;
	border-top: 0px;
}

#submenu li.disabled a {
	color: #9f9f9f;
}

#submenu li.external:hover {
	background: transparent;
	border: 1px solid transparent;
	border-top: 0px;
}

#submenu li.external a {
	color: #0366C3;
}

#submenu li.external:hover a {
	text-decoration: underline !important;
}

.datepicker {
	background: url(../images/calendar.png) no-repeat right;
	width: 100px !important;
	font-weight: bold;
	cursor: pointer;
}

	
	