* {
	font-family: Arial;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

body {
	background: #646464;
}

img {
	border: 0px;
}

a {
	color: #297FC0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	cursor: pointer;
}

p {
	line-height: 17px;
}

b {
	color: #1f1f1f;
}

.wrap {
	width: 1008px;
	margin-left: auto;
	margin-right: auto;
}

.inner {
	float: left;
	background: #FFFFFF;	
	width: 950px;
	padding: 0px 20px 0px 20px;
}

.footer {
	float: left;
	width: 948px;
	background: url(../images/footer.gif) no-repeat #646464;
	height: 74px;
	padding: 0px 31px 0px 31px;
	position: relative;
	left: -11px;
	padding-bottom: 15px;
}

.block-title {
	width: 250px;
	padding-left: 15px;
	padding-top: 7px;
	height: 28px;
	background: url(../images/mhead.png) no-repeat;
}

.block-body {
	width: 236px;
	padding: 7px;
	padding-left: 17px;
	padding-bottom: 10px;
	border-top: 1px solid #d3d9d6;
	background: url(../images/mbottom.png) no-repeat bottom;
	background-color: #e0e4e2;
	margin-bottom: 15px;
	color: #000000;
}

.block-body a {
	color: #464646;
	text-decoration: none;
}

.block-body a:hover {
	text-decoration: underline;
}

.bot {
	float: left;
	padding-left: 2px;
	line-height: 19px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial;
}

.bot:hover {
	text-decoration: underline;
}

.btn {
	float: left;
	height: 28px;
	background: url(../images/bl.png) no-repeat;
	text-decoration: none;
}

.btn span {
	float: left;
	height: 28px;
	background: url(../images/br.png) no-repeat right;
	cursor: pointer;
	line-height: 28px;
	padding-left: 13px;
	padding-right: 16px;
	color: #ffffff !important;
	min-width: 55px;
	text-align: center;
	position: relative;
	left: 3px;
}

.clear {
	height: 0px;
	clear: both;
}

#login {

}

#login input {
	color: #BFBFBF;
	width: 211px;
}

#login .br {
	height: 5px;
}

#login .br input {
	height: 1px; 
	width: 1px; 
	border: 0px;
	background: #ffffff;
}

#login input.focus {
	color: #4f4f4f;
}

#login .errors {
	display: none;
	margin-bottom: 5px;
	color: red;
}

.footer ul {
	margin-top: 19px;
	list-style: none;
}

.footer ul li {
	float: left;
	background: url(../images/d.png) left no-repeat;
	height: 18px;
}

.footer ul li.first {
	float: left;
	background: none;
}

.footer ul li.first a {
	float: left;
	background: none;
	margin-left: 0px;
}

.footer ul li a {
	color: #4f4f4f;
	text-decoration: none;
	margin-left: 13px;
	margin-right: 11px;
}

.footer ul li a:hover {
	text-decoration: underline;
}

.bash {
	float: left;
}

.form-messages {
	float: left;
	display: none;
	margin-top: 0px;
	margin-bottom: 13px;
}

.form-message-false {
	color: red;
	font-weight: bold;
}

.form-message-ok {
	color: #77B710;
	font-weight: bold;
}

.star {
	color: red;
}

