<!DOCTYPE HTML>

<html>
<head>
<title>Tide CMS admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Tide CMS website.">
<meta name="keywords" content="tide,cms">
<link rel="stylesheet" type="text/css" href="stylesheets/default.css">
<link rel="icon" type="image/gif" href="images/icon.gif">
<link rel="shortcut icon" type="image/x-icon" href="images/icon.ico">
<script type="text/javascript" src='scripts/script.js'></script>
</head>
<body>

<div class="wrap">

<div id="header">
<h2><i>&larr;</i> <a href="../">Oтиди към сайта</a></h2>
</div>

<div id="right">

<ul class="recent" style="margin-top: 0px;">
<li><a href="#">Публикации</a></li>
<li <?php if ($amenu == 'announcements') echo "class='active'"; ?>><a href="announcements-edit.php">Обяви</a></li><li <?php if ($amenu == 'pages') echo "class='active'"; ?>><a href="pages.php">Страници</a></li><li <?php if ($amenu == 'events') echo "class='active'"; ?>><a href="events.php">Събития</a></li>
<li <?php if ($amenu == 'menus') echo "class='active'"; ?>><a href="menus.php">Менюта</a></li>
<li <?php if ($amenu == 'external-links') echo "class='active'"; ?>><a href="external-links.php">Други сайтове</a></li>
</ul>

<?php
$count_feedback_contact = Feedback::count_not_read('contact'); 
$count_feedback_order = Feedback::count_not_read('order'); 
?>

<ul class="recent">
<li><a href="#">Съобщения</a></li>
<li <?php if ($amenu == 'feedback') echo "class='active'"; ?>><a href="feedback.php">Контакти<?= $count_feedback_contact ? ' <span style="color:green; font-weight:bold;">( '.$count_feedback_contact.' ) </span>' : '' ?></a></li>
</ul>

<ul class="recent">
<li><a href="#">Помощ</a></li>
<li <?php if ($amenu == 'help') echo "class='active'"; ?>><a href="help.php">За програмисти</a></li>
</ul>

</div>

<div id="inner">

<?php
if ($layout) {
	include ($layout);
} else {
?>
<div id="content">
<?php include ("templates/".$file); ?>
</div>
<?php
}
?>

<div class="clear"></div>
</div>

</div>

</body>
</html>