
<script type="text/javascript" src="scripts/ckeditor/ckeditor.js"></script>

<h1 class="title"><?= $new_translation ? "Добавяне на превод" : ( $id ? 'Редактиране на обяви' : 'Добавяне на страница' ) ?></h1>

<?php include ("templates/translations.html") ?>

<?php include ("system/messages.php") ?>

<form name="myform" action="<?= $_SERVER['PHP_SELF'] ?><?php if ($id) echo "?id=".$id; ?>" method="post">

<table class="form">
	<tr>
		<th style="background:#f3f3f3;">Име за меню:</th>
		<td style="background:#f3f3f3;">
<?php
if ($data['active'] == 'Yes' || !$id) {
?>
			<input type="text" name="menu_title" value="<?= $data['menu_title'] ?>" maxlength="255" class="input-text<?php if ($errors['menu_title']) echo " error"; ?>">
<?php
} else {
?>
			<div style="margin-top:3px; color:#5f5f5f;">Страницата не е активна</span>
<?php
}
?>
		</td>
	</tr>
	<tr>
		<th style="background:#f3f3f3;">Добави в меню:</th>
		<td style="background:#f3f3f3;">
<?php
if ($data['active'] == 'Yes' || !$id) {
?>
			<select name="menu_parent_id" class="input-select<?php if ($errors['menu_parent_id']) echo " error"; ?>" style="width:auto; min-width:250px;">
				<option value=""> - Не добавяй в менюто -
<?php
select_records();
?>
			</select>
<?php
} else {
?>
			<div style="margin-top:3px; color:#5f5f5f;">Страницата не е активна</span>
<?php
}
?>
		</td>
	</tr>
	<tr><td colspan="2" height="25"></td></tr>
	<tr>
		<th>Заглавие:</th>
		<td>
			<input type="text" name="title" value="<?= $data['title'] ?>" maxlength="255" class="input-text<?php if ($errors['title']) echo " error"; ?>">
		</td>
	</tr>
	<tr>
		<th>Активна:</th>
		<td>
			<select name="active" class="input-select">
				<option value="Yes" <?php if ($data['active'] == "Yes") echo "selected"; ?>>Да
				<option value="No" <?php if ($data['active'] == "No") echo "selected"; ?>>Не
			</select>
		</td>
	</tr>
<?php
if ($id == 8) {
?>
	<tr>
		<th>Кратко описание:</th>
		<td>
			<input type="text" name="short_description" value="<?= $data['short_description'] ?>" maxlength="255" class="input-text<?php if ($errors['short_description']) echo " error"; ?>">
		</td>
	</tr>
<?php
}
?>
	<tr>
		<th>Текст:</th>
		<td style="height:405px;">
			<textarea name="content" id="ckeditor" class="ckeditor"><?php if (!$data || (!$_POST && $new_translation)) include ("templates/pages-default.html"); else echo get_var( $data['content'] ); ?></textarea>
		</td>
	</tr>
	</tr>
		<th class="last">&nbsp;</td>
		<td class="last">
			<input type="submit" value="Запиши">
		</td>
	</tr>
</table>

<?php
if (!$data || (!$_POST && $new_translation) ) {
?>
<script>
	document.forms.myform.elements[0].focus();
</script>
<?php
}
?>

</form>

<?php
function select_records( $parent_id = false, $level = 1, $start_menu_id = false )
{
	global $id, $data, $menus, $_MAX_MENU_LEVEL;
	
	if (!$start_menu_id)
		$start_menu_id = $parent_id;
		
	if ($_MAX_MENU_LEVEL[$start_menu_id] && $level > $_MAX_MENU_LEVEL[$start_menu_id])
		return;
	
	foreach($menus as $item) {
	
		if ( $item->parent_id == $parent_id && ( !$id || $item->item_id != $id ) ) {
?>
		<option value="<?= $item->id ?>" <?php if ($data['menu_parent_id'] == $item->id && $data['menu_active'] == 'Yes') echo "selected"; ?>>		
<?php
			if ($level > 1) {
				for ($i=1; $i < ( $level - 1 ) * 2; $i++)
					echo "&nbsp;&nbsp;&nbsp;";
					
				echo "&bull;&nbsp;&nbsp;";
			}

			echo $item->title;
			
			select_records( $item->id, $level + 1 );
		}
	}
}
?>