
<script type="text/javascript" src="scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<?= HOST ?>/scripts/jquery.min.js"></script>
<script src="<?= HOST ?>/scripts/jquery-ui-1.10.3.custom.min.js"></script>
<link href="<?= HOST ?>/stylesheets/jquery-ui-1.10.3.custom.css" rel="stylesheet">

<script>
$(document).ready(function() 
{
	$.datepicker.regional['bg'] = {
		clearText: 'Изчистване', clearStatus: '',
		closeText: 'Затваряне', closeStatus: '',
		prevText: 'Предишен месец', prevStatus: '',
		nextText: 'Следващ месец', nextStatus: '',
		currentText: 'Текущ месец', currentStatus: '',
		monthNames: ['Януари','Февруари','Март','Април','Май','Юни', 'Юли','Август','Септември','Октомври','Ноември','Декември'],
		monthNamesShort: ['Янр','Фев','Мрт','Апр','Май','Юни','Юли','Авг','Спт','Окт','Нвр','Дек'],
		monthStatus: '', yearStatus: '',
		weekHeader: '', weekStatus: '',
		dayNames: ['Понеделник','Вторник','Сряда','Четвъртък','Петък','Събота','Неделя'],
		dayNamesShort: ['Пон','Вто','Сря','Чет','Пет','Съб','Нед'],
		dayNamesMin: ['Пн','Вт','Ср','Чт','Пт','Сб','Нд'],
		dayStatus: '', dateStatus: '',
		dateFormat: 'dd/mm/yy', firstDay: 0, 
		initStatus: '', isRTL: false
	};

	$.datepicker.setDefaults($.datepicker.regional['bg']);

	$('.datepicker').datepicker();
});
</script>

<h1 class="title"><?= $new_translation ? "Добавяне на превод" : ( $id ? 'Редактиране на събитие' : 'Добавяне на събитие' ) ?></h1>

<?php include ("templates/translations.html") ?>

<?php include ("system/messages.php") ?>

<form name="myform" action="<?= $_SERVER['PHP_SELF'] ?><?php if ($id) echo "?id=".$id; ?>" method="post" enctype="multipart/form-data">

<table class="form">
	<tr>
		<th>Заглавие:</th>
		<td>
			<input type="text" name="title" value="<?= $data['title'] ?>" maxlength="255" class="input-text<?php if ($errors['title']) echo " error"; ?>">
		</td>
	</tr>
	<tr>
		<th>Дата:</th>
		<td>
			<input readonly type="text" name="event_date" class="input-text<?php if ($errors['event_date']) echo " error"; ?> datepicker" value="<?= rDate( $data['event_date'] ) ?>" maxlength="255" style="width:210px;">
		</td>
	</tr>
	<tr>
		<th>Активна:</th>
		<td>
			<select name="active" class="input-select">
				<option value="Yes" <?php if ($data['active'] == "Yes") echo "selected"; ?>>Да
				<option value="No" <?php if ($data['active'] == "No") echo "selected"; ?>>Не
			</select>
		</td>
	</tr>
	<tr>
		<th>Снимка:<br><span class="note">300px : 196px</span><br><span class="note" style="font-family:tahoma;">JPG, PNG или GIF</span></th>
		<td>
			<input type="file" name="picture">
<?php
	$image = "../images/events/$id/main.jpg";
	if (file_exists($image)) {
?>
			<div style="margin-top:10px;"><img src="<?= Image::resize($image, 150, 98 ).'?n='.rand(1, 100000) ?>"></div>
			<div style="clear:both;"></div>
			<div style="height: 5px;"></div>
			<a onclick="return confirm('Сигурни ли сте че искате да ИЗТРИЕТЕ тази снимка?');" style="color:red;" href="events-edit.php?delete-picture=<?= $id ?>">Изтриване</a>
<?php
	}
?>
		</td>
	</tr>
	<tr>
		<th>Показване на снимка:</th>
		<td>
			<div style="margin-top:4px; margin-bottom:4px;">
				<input type="checkbox" name="show_image" id="show_image" value="Yes" <?php if ($data['show_image'] == 'Yes' || !$id) echo "checked"; ?> style="position:relative; top:2px; margin:0px;">
				<label for="show_image" style="margin-left:3px;">Показвай сниката в страницата с пълния текст</label>
			</div>
		</td>
	</tr>
	<tr>
		<th>Кратко описание:<br><span class="note">за менюто</span></th>
		<td>
			<textarea style="height:100px;" name="menu_desc" class="input-text<?php if ($errors['menu_desc']) echo " error"; ?>"><?= $data['menu_desc'] ?></textarea>
		</td>
	</tr>
	<tr>
		<th>Описание:<br><span class="note">за секция събития</span></th>
		<td>
			<textarea style="height:100px;" name="short_desc" class="input-text<?php if ($errors['short_desc']) echo " error"; ?>"><?= $data['short_desc'] ?></textarea>
		</td>
	</tr>
	<tr>
		<th>Пълен текст:</th>
		<td style="height:405px;">
			<textarea name="content" id="ckeditor" class="ckeditor"><?php if (!$data || (!$_POST && $new_translation)) include ("templates/events-default.html"); else echo get_var( $data['content'] ); ?></textarea>
		</td>
	</tr>
	</tr>
		<th class="last">&nbsp;</td>
		<td class="last">
			<input type="submit" value="Запиши">
		</td>
	</tr>
</table>

<?php
if (!$data || (!$_POST && $new_translation) ) {
?>
<script>
	document.forms.myform.elements[0].focus();
</script>
<?php
}
?>

</form>

