<ul id="menu">
<li <?php if ($bmenu == 'events') echo 'class="active"'; ?>><a href="events.php">Събития</a></li>
<li class="special<?php if ($bmenu == 'events-edit') echo ' active'; ?>"><a href="events-edit.php">+ Добави</a></li>
</ul>

<?php
if ($bmenu == 'events-edit') {
	if ($id) {
?>
<ul id="submenu">
<li <?php if ($submenu == 'events-edit') echo 'class="active"'; ?>><a href="events-edit.php?id=<?= $id ?>">&nbsp;Основна информация&nbsp;</a></li>
<li <?php if ($submenu == 'events-seo') echo 'class="active"'; ?>><a href="events-seo.php?id=<?= $id ?>">&nbsp;S. E. O.&nbsp;</a></li>
<li class="external"><a href="<?= HOST ?>/events.php?id=<?= $id ?>&language=<?= $_SESSION['translation']->abbr ?>" target="_blank">Виж на сайта</a></li>
</ul>
<?php
	} else {
?>
<ul id="submenu">
<li class="active"><a>&nbsp;Основна информация&nbsp;</a></li>
<li class="disabled"><a>&nbsp;S. E. O.&nbsp;</a></li>
</ul>
<?php
	}
} 
?>

<div id="content">
<?php include ("templates/".$file); ?>
</div>


