<ul id="menu">
<li <?php if ($bmenu == 'external-links') echo 'class="active"'; ?>><a href="external-links.php">Линкове</a></li>
<li class="special<?php if ($bmenu == 'external-links-edit') echo ' active'; ?>"><a href="external-links-edit.php">+ Добави</a></li>
</ul>

<?php
/*
if ($bmenu == 'external-links-edit') {
	if ($id) {
?>
<ul id="submenu">
<li <?php if ($submenu == 'external-links-edit') echo 'class="active"'; ?>><a href="external-links-edit.php?id=<?= $id ?>">&nbsp;Основна информация&nbsp;</a></li>
</ul>
<?php
	} else {
?>
<ul id="submenu">
<li class="active"><a>&nbsp;Основна информация&nbsp;</a></li>
</ul>
<?php
	}
} 
*/
?>

<div id="content">
<?php include ("templates/".$file); ?>
</div>


