
<script type="text/javascript" src="scripts/ckeditor/ckeditor.js"></script>

<h1 class="title"><?= $new_translation ? "Добавяне на линк" : ( $id ? 'Редактиране на линк' : 'Добавяне на линк' ) ?></h1>

<?php // include ("templates/translations.html") ?>

<?php include ("system/messages.php") ?>

<form name="myform" action="<?= $_SERVER['PHP_SELF'] ?><?php if ($id) echo "?id=".$id; ?>" method="post" enctype="multipart/form-data">

<table class="form">
	<tr>
		<th>Заглавие:</th>
		<td>
			<input type="text" name="title" value="<?= $data['title'] ?>" maxlength="255" class="input-text<?php if ($errors['title']) echo " error"; ?>">
		</td>
	</tr>
	<tr>
		<th>URL:</th>
		<td>
			<input type="text" name="url" value="<?= $data['url'] ?>" maxlength="255" class="input-text<?php if ($errors['url']) echo " error"; ?>">
		</td>
	</tr>
	<tr>
		<th>Активен:</th>
		<td>
			<select name="active" class="input-select">
				<option value="Yes" <?php if ($data['active'] == "Yes") echo "selected"; ?>>Да
				<option value="No" <?php if ($data['active'] == "No") echo "selected"; ?>>Не
			</select>
		</td>
	</tr>
	<tr>
		<th>Лого:<br><span class="note">височина: 25px</span><br><span class="note" style="font-family:tahoma;">JPG, PNG или GIF</span></th>
		<td>
			<input type="file" name="picture">
<?php
	$image = "../images/external_links/$id/main.jpg";
	if (file_exists($image)) {
?>
			<div style="margin-top:10px; width:100px; height:30px; background:url(<?= $image ?>) no-repeat left;"></div>
			<div style="clear:both;"></div>
			<div style="height: 5px;"></div>
			<a onclick="return confirm('Сигурни ли сте че искате да ИЗТРИЕТЕ това лого?');" style="color:red;" href="external-links-edit.php?delete-picture=<?= $id ?>">Изтриване</a>
<?php
	}
?>
		</td>
	</tr>
	</tr>
		<th class="last">&nbsp;</td>
		<td class="last">
			<input type="submit" value="Запиши">
		</td>
	</tr>
</table>

<?php
if (!$data || (!$_POST && $new_translation) ) {
?>
<script>
	document.forms.myform.elements[0].focus();
</script>
<?php
}
?>

</form>
