
<script type="text/javascript" src="scripts/ckeditor/ckeditor.js"></script>

<h1 class="title">Съобщение</h1>

<?php include ("system/messages.php") ?>


<table class="form">
	<tr>
		<th style="padding-top:5px;">Номер:</th>
		<td style="padding-top:5px;">
			<b><?= $data['id'] ?></b>
		</td>
	</tr>
	<tr>
		<th style="padding-top:5px;">От:</th>
		<td style="padding-top:5px;">
			<?= $data['from'] ?>
		</td>
	</tr>
	<tr>
		<th style="padding-top:5px;">Дата:</th>
		<td style="padding-top:5px;">
			<?= $data['date'] ?>
		</td>
	</tr>
	<tr><td colspan=10 height="20"></td></tr>
	<tr>
		<th class="last" style="padding-top:9px;">Съобщение:</th>
		<td class="last" style="padding-top:9px;">
			<?= $data['content'] ?>
		</td>
	</tr>
</table>
