
<br><div style="font-size:24px; color:#7f7f7f;">Секцията е временно недостъпна</div>

<?php
/*

<h1 class="title"><?= $help_title ? $help_title : 'Редактиране на S. E. O.' ?></h1>

<?php include ("templates/translations.html") ?>

<?php include ("system/messages.php") ?>

<form name="myform" action="<?= $self_params ?>" method="post">

<table class="form">
	<tr>
		<th>Meta link:</th>
		<td>
			<input type="text" name="slug" autocomplete="off" value="<?= $data['slug'] ?>" maxlength="255" class="input-text<?php if ($errors['slug']) echo " error"; ?>">
			<div class="note">Линк към страницата с в уеб сайта. За предпочитане е да се използват само<br><b>букви, цифри и тирета, без интервали</b>.</div>
		</td>
	</tr>
	<tr>
		<th>Title:</th>
		<td>
			<input type="text" name="title" autocomplete="off" value="<?= $data['title'] ?>" maxlength="255" class="input-text<?php if ($errors['title']) echo " error"; ?>">
			<div class="note">Име на страницата.<br><b>кратък текст</b></div>
		</td>
	</tr>
	<tr>
		<th>Keywords:</th>
		<td>
			<input type="text" name="keywords" autocomplete="off" value="<?= $data['keywords'] ?>" maxlength="255" class="input-text<?php if ($errors['keywords']) echo " error"; ?>">
			<div class="note">Ключови думи. За предпочитане е да се използват само<br><b>думи или кратки изрази, разделени със запетая</b></div>
		</td>
	</tr>
	<tr>
		<th>Description:</th>
		<td>
			<input type="text" name="description" autocomplete="off" value="<?= $data['description'] ?>" maxlength="255" class="input-text<?php if ($errors['description']) echo " error"; ?>">
			<div class="note">Описание на страницата. Желателно е да не бъде повече от<br><b>едно изречение</b></div>
		</td>
	</tr>
	<tr>
		<th class="last">&nbsp;</td>
		<td class="last">
			<input type="submit" value="Запиши">
		</td>
	</tr>
</table>

<?php
if (!$data || (!$_POST && $new_translation) ) {
?>
<script>
	document.forms.myform.elements[0].focus();
</script>
<?php
}
?>

</form>
*/
?>
