
<table class="table">
	<tr>
		<th>&nbsp;</th>
<?php
	foreach($table->fields as $key => $value) {
?>
		<th><?= $value ?></th>
<?php
	}
?>
		<th class="last"></th>
	</tr>
	<form action="<?= $_SERVER['REQUEST_URI'] ?>" method="post">
<?php
if ($table->records) {
		table_records();
	
	if ($table->submit) {
?>
	<tr>
		<td colspan="<?= count($table->fields) + 2 ?>" class="row-submit">
			<input type="submit" value="Запиши">
		</td>
	</tr>
<?php
	}	
} else {
?>
	<tr>
		<td colspan="<?= count($table->fields) + 2 ?>" class="not-found">
			Няма намерени резултати
		</td>
	</tr>
<?php
}
?>
	</form>
</table>

<?php
function table_records( $parent_id = false, $level = 1 ) 
{
	global $table, $translation;
	
	foreach($table->records as $item) {
	
		$item = (array)$item;
	
		if ($item['parent_id'] == $parent_id) {
		
			if ($item['tableDisabled']) {
?>
	<tr>
		<td class="row" align="center"><img src="images/cross-disabled.png"></td>
<?php
				foreach ($table->disabled->fields as $key) {
?>
		<td class="row body<?php if (in_array($key, $table->types->enum)) echo ' '.$item[$key]; ?><?php if (!$item[$key]) echo ' empty'; ?>"><a href="<?= $item['tableDisabled']['type'] == 'system' ? "#" : str_replace("_KEY", $item[$table->key], $table->url) ?>"><?php

			if ($key == 'title' && $level > 1) {
			
				for ($i=1; $i < ( $level - 1 ) * 2; $i++)
					echo "&nbsp;&nbsp;&nbsp;";
					
				echo "<span style='color:#bfbfbf;'>&bull;</span>&nbsp;&nbsp;";
			}
		
		?><?= $item[$key] ? $item[$key] : "( празно )" ?></a></td>
<?php
				}
?>
		<td colspan="<?= $table->disabled->count - 1 ?>" class="row body empty">
			<a href="<?= $item['tableDisabled']['type'] == 'system' ? "#" : str_replace("_KEY", $item[$table->key], $table->url) ?>">
<?php
			if ($level > 1) {
			
				for ($i=1; $i < ( $level - 1 ) * 2; $i++)
					echo "&nbsp;&nbsp;&nbsp;";
					
				echo "<span style='color:#bfbfbf;'>&bull;</span>&nbsp;&nbsp;";
			}
				?><?= $item['tableDisabled']['title'] ? $item['tableDisabled']['title'] : "( празно )" ?>
<?php
			if ($item['tableDisabled']['type'] == 'translation') {
?>
 - <span class="translate"><img src="images/languages/<?= $translation->abbr ?>.png" width="18" height="12" style="top: 2px; margin-left: 2px; margin-right: 2px;"> преведи</span>
<?php
			}
?>
			</a>
		</td>
		<td class="last"></td>
	</tr>
<?php
			} else {
?>
	<tr>
		<td class="row" align="center"><a onclick="return confirm('Сигурни ли сте че искате да ИЗТРИЕТЕ запис # <?= $item['id'] ?> с всички подменюта?');" href="<?= add_to_link( "delete=".$item['id'], $_SERVER['REQUEST_URI'] ) ?>"><img src="images/cross.png"></a></td>
<?php
				foreach($table->fields as $key => $value) {
					if (in_array($key, $table->types->input)) {
						$table->submit = true;
?>
		<td class="row input"><input type="text" name="positions[<?= $item[$table->key] ?>]" value="<?= $item[$key] ?>" tabindex="1"></td>
<?php
					} else {
?>
		<td class="row body<?php if (in_array($key, $table->types->enum)) echo ' '.$item[$key]; ?><?php if (!$item[$key]) echo ' empty'; ?>"><a href="<?= str_replace("_KEY", $item[$table->key], $table->url) ?>"><?php

			if ($key == 'title' && $level > 1) {
			
				for ($i=1; $i < ( $level - 1 ) * 2; $i++)
					echo "&nbsp;&nbsp;&nbsp;";
					
				echo "<span style='color:#bfbfbf;'>&bull;</span>&nbsp;&nbsp;";
			}
		
		?><?= $item[$key] ? $item[$key] : "( празно )" ?></a></td>
<?php
					}
				}
?>
		<td class="last"></td>
	</tr>
<?php
			}
			
			table_records( $item['id'], $level + 1 );
		}
	}
}
?>


