<?php
if (count($translations) > 1 ) {
?>

<ul class="translation">
<?php
foreach ($translations as $item) {
	if ( !$current_language_only || ( $current_language_only && $translation->abbr == $item->abbr ) ) {
?>
<li <?php if ($translation->abbr == $item->abbr) echo 'class="active"'; ?>><a title="<?= $item->name ?>" style="background-image: url(images/languages/<?= $item->abbr ?>.png);" href="<?= add_to_link("translation=".($item->abbr), $_CURRENT_URI ? $_CURRENT_URI : $_SERVER['REQUEST_URI']) ?>"><?= strtoupper($item->abbr) ?></a>
<?php
	}
}
?>
</ul>

<div class="clear"></div>

<?php
}
?>